#maincontent
{
    padding: 0.6em 1em 1.5em 1em;
    height: 100%;
}

#glass
{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    border-radius: 20px;
    background: hsla(0,0%,100%,.3);
    width: 100%;
    height: 77%;
    box-shadow: 2px 2px 12px 0px;  
    overflow-y: scroll;
    margin-top: 1.5vh;
}

.chater
{
    display: flex;
    align-items: center;
    background: hsla(0,0%,100%,.3);
    border-radius: 20px;
    margin: 1em 0 1em 0;
    width: 95%;
    height: 17%;
    
}

.brief-header
{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

.name-message-group
{
    flex: 4;
}

.time-nonread-group
{
    width: 70px;
    text-align: right;
    margin-right: 1em;
}

.brief-name
{
    display: inline-block;
    font-weight: 900;
    position: relative;
    top: -0.7em;
}

.brief-message
{
    
    position: relative;
    top: -0.3em;
    color: #777;
}

.brief-time
{
    position: relative;
    color: #777; 
    font-size: 0.85em;
}

.brief-nonread
{
    display: inline-block;
    position: relative;
    background-color: #acf15a;
    border-radius: 50%;
    text-align: center;
    line-height: 2;
    width: 2em;
    height: 2em;
    margin-top: 1em;
}

.loader
{
    position: relative;
    top: 46% !important;
    left: 49% !important;
}

#searchbar
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 7%;
    position: relative;
    z-index: 4;
}

#searchbar > input
{
    display: inline-block;
    flex: 1;
    border-radius: 30px;
    height: 67%;
    width: 77%;
    font-size: initial;
    padding-left: 15px;
}

#searchbar > i{
    right: 32px;
    color: black;
    font-size: 1.3em;
    position: relative;
}

#notification
{
    display: inline-flex;
    color: white;
    font-size: 1.5em;
    text-align: end;
}

#search-wall
{
    display: none;
    z-index: 3;
    background: hsl(0deg 0% 0% / 30%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.search-loader
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-result
{
    height: 72%;
    margin-top: 11vh;
    overflow-y: scroll;
}

.search-person
{
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    height: 80px;
}

.search-head-pic
{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: white;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-name
{
    flex: 1;
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    padding-left: 15px;
}

#search-person-page
{
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: width 1s;
    background: linear-gradient( to left bottom, rgb(197 184 154), rgb(117 106 78) );
}

#background-pic
{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #353333;
    z-index: 0;
    height: 50%;
    border-radius: 0 0 30px 30px;
}

#head-group
{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    bottom: 54%;
    transform: translateX(-50%);
}

#head-pic
{
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    border-radius: 50%;
    width: 15vmax;
    height: 15vmax;
    box-shadow: 3px 5px 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #484545;
}

#discription
{
    display: flex;
    z-index: 1;
    height: 39%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#introcard
{
    width: 85%;
    height: 85%;
    border-radius: 20px;
    box-shadow: 1px 3px 7px 0;
    margin-bottom: 3vh;
    background-color: #fff;
}

#back-to-search
{
    margin: 10px 0 0 10px;
    color: #b1a487;
    font-size: 2em;
    position: absolute;
    top: 0;
}

#friend-status
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    color: white;
    font-size: 1.3em;
    margin-top: 16px;
}

#friend-status > i
{
    margin-right: 5px;
}

#noti-count
{
    display: none;
    background-color: red;
    font-size: 0.5em;
    text-align: center;
    width: 2em;
    height: 2em;
    padding: 3px;
    border-radius: 50%;
    transform: translate(-9px, -11px);
}

#notifications-wall
{
    display: none;
    height: 100%;
    z-index: 4;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsl(0deg 0% 0% / 52%);
}

#notifications-content
{
    background-color: white;
    position: absolute;
    top: 5%;
    left: 5%;
    height: 1%;
    width: 0;
    border-radius: 30px;
    box-shadow: 3px 2px 14px 3px;
    overflow-y: scroll;
    transition: height 0.8s, width 0.8s;
}

#close-noti
{
    font-size: 1.5em;
    position: relative;
    top: 10px;
    left: 10px;
}

.each-noti
{
    display: flex;
    max-height: 20%;
    margin-top: 8%;
    align-items: center;
    position: relative;
    padding: 10px;
}

.noti-head-pic
{
    width: 8.5vmax;
    height: 8.5vmax;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    background-repeat: repeat;
    background-size: cover;
}

.noti-content
{
    flex: 1;
    height: 100%;
    padding: 6px;
    position: relative;
}

.noti-text
{
    font-size: 1em;
    font-weight: 600;
    word-break: break-all;
}

.noti-time
{
    font-size: 0.6em;
    font-weight: 600;
    color: blue;
}

.delete-noti
{
    align-self: flex-start;
    margin: 0 8px 0 0;
}

.slick-list
{
    height: 100%;
}

.slick-arrow
{
    display: none !important;
}

#big-name
{
    text-align: center;
    font-size: 1.7em;
    padding: 0.2em;
    font-weight: 600;
}

#text-content
{
    text-align: center;
    padding: 0.5em;
    color: #747474;
}

#slick-info-1
{
    overflow-y: scroll;
    padding: 4px 15px;
    margin-top: 5px;
}

.friend-div
{
    width: 100%;
    height: 10vmax;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
}

.friend-head-pic
{
    width: 9vmax;
    height: 9vmax;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.friend-name
{
    flex: 1;
    font-weight: 600;
    font-size: 1.4em;
    padding-left: 15px;
}

#friend-list-title
{
    text-align: center;
    font-weight: bold;
    font-size: 1.45em;
    margin-bottom: 10px;
    color: #747474;
}

#friend-list-title
{
    text-align: center;
    font-weight: bold;
    font-size: 1.45em;
    margin-bottom: 10px;
    color: #747474;
}

#friend-list-wall
{
    background-color: #353333;
    position: absolute;
    z-index: 5;
    bottom: -10vmax;
    width: 100%;
    height: 0;
    border-radius: 50px;
    transition: height 1s;
}

#cancel-friend-list
{
    color: white;
    font-size: 1.5em;
    margin: 20px 0 0 20px;
}

#friend-list-input
{
    border-radius: 50px;
    padding-left: 10px;
    width: 75vw;
    height: 4.5vh;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
}

.autocomplete-suggestions
{
    margin-top: 10px;
    padding: 8px;
    border-radius: 15px;
    font-size: 1.1em;
    font-weight: 400;
}

#friend-list-layout
{
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translateX(-50%);
    overflow-y: scroll;
    width: 90%;
    height: 65%;
}

.fri-li-div
{
    padding: 5px;
    height: 10vmax;
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
}

.fri-li-head-pic
{
    width: 8vmax;
    height: 8vmax;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.fri-li-name
{
    flex: 1;
    color: white;
    font-size: 1.5em;
    margin-left: 9px;
}