html,body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: "微軟正黑體";
    overflow-y: hidden;
    overflow-x: hidden;
}

#container
{
    z-index: 1;
    background: linear-gradient(
        to left bottom,
        rgb(197 184 154),
        rgb(117 106 78)
    );
    width: 100%;
    height: 100%;
}

#maincontent
{
    height: 100%;
}

#chat-wall
{
    background: linear-gradient(
        to left bottom,
        rgb(197 184 154),
        rgb(117 106 78)
    );
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#header
{
    display: flex;
    position: fixed;
    z-index: 2;
    align-items: center;
    width: 100%;
    height: 70px;
    background: hsl(0deg 82% 73% / 30%);
    border-radius: 0 0 30px 30px;
}

#back
{
    color: white;
    text-align: center;
    line-height: 70px;
    font-size: 1.5em;
    margin: 0 0.3em 0 0.3em;
}

#headpic
{
    /* background-image: url("./images/ironman.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-group
{
    flex: 8;
    margin-left: 0.5em;
}

#name
{
    color: white;
    font-weight: 900;
    margin-bottom: 0.5em;
}

#last-active-time
{
    font-size: 1em;
    color: #777;
}

#rtc-group
{
    color: white;
    font-size: larger;
    flex: 3;
    text-align: right;
    margin-right: 1em;
}

#phone-call
{
    
    display: inline-block;
    margin: 0 0.3em 0 0.3em;
}

#video-call
{
    
    display: inline-block;
    margin: 0 0.3em 0 0.3em;
}

#chat-content
{
    width: 100%;
    height: 82%;
    padding-top: 80px;
    overflow-y: auto;
}

#typing-bar
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 6.5vh;
    width: 100%;
    background: hsla(0deg 82% 73% / 30%);
    padding-bottom: 15px;
}

#textbox
{ 
    display: inline-block;
    border-radius: 12px;
    border-style: none;
    outline: none;
    height: 64%;
    width: 85%;
}

.message-layout
{
    display: flex;
    z-index: 1;
    padding: 0.5em;
}

.my-layout
{
    justify-content: flex-end;
}

.friend-layout
{
    justify-content: flex-start;
}

.message
{
    display: inline-block;
    font-size: 2.3vmax;
    padding: 0.5em;
    border-radius: 40px;
    max-width: 85%;
}

.my-message
{
    background-color: #465efb;
    color: white;
}

.friend-message
{
    display: flex;
    align-items: center;
    background-color: #f0f1f4;
    color: black;
}

.friend-headpic
{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 1.6em;
    height: 1.6em;
    align-self: flex-start;
}

.word-block
{
    word-break: break-all; /*溢位換行*/
    flex: 1; /*把剩餘空間補滿*/
    margin: 0 0.4em 0 0.4em;
}