#maincontent
{
    width: 100%;
    height: 100%;
}

#background-pic
{
    /* background-image: url("https://assets.juksy.com/files/articles/97515/800x_100_w-5e1805ea341a2.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #353333;
    z-index: 0;
    height: 48%;
    border-radius: 0 0 30px 30px;
}

#head-pic
{
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%); /*往回平移x軸()自身寬度一半*/
    border-radius: 50%;
    width: 15vmax;
    height: 15vmax;
    box-shadow: 3px 5px 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #484545;
}

#discription
{
    display: flex;
    z-index: 1;
    height: 39%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#introcard
{
    width: 85%;
    height: 85%;
    border-radius: 20px;
    box-shadow: 1px 3px 7px 0;
    margin-bottom: 3vh;
    background-color: #fff;
}

#setting
{
    float: right;
    font-size: 1.6em;
    color: white;
    margin: 0.1em 0.4em 0 0;
}

#setting-page
{
    position: absolute;
    right: 0;
    z-index: 3;
    width: 0;
    height: 100%;
    background-color: #343a40;
    transition: width 1s;
}

.option
{
    color: white;
    font-size: 1.4em;
    padding: 0.5em;
    border-bottom: 1px #777777 solid;
    font-weight: bold;
}

#sign-out
{
    margin-top: 20px;
}

.setting-control
{
    display: none;
}

#close-setting
{
    color: white;
    font-size: 1.5em;
    padding-left: 0.5em;
}

#uploading-img
{
    display: none;
    height: 100%;
    z-index: 1051; /*bootsrap modal z-index 1050*/
    width: 100%;
    position: absolute;
    background: hsl(0deg 0% 0% / 52%);
}

.loader-upload
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slick-list
{
    height: 100%;
}

.slick-arrow
{
    display: none !important;
}

#big-name
{
    text-align: center;
    font-size: 1.7em;
    padding: 0.2em;
    font-weight: 600;
}

#text-content
{
    text-align: center;
    padding: 0.5em;
    color: #747474;
}

.word-limit
{
    position: absolute; 
    right: 9px; 
    bottom: 8px;
    color: #99979c;
}

#newalert > .modal-dialog
{
    top: 30%;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
}

#slick-info-1
{
    overflow-y: scroll;
    padding: 4px 15px;
    margin-top: 5px;
}

.friend-div
{
    width: 100%;
    height: 10vmax;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
}

.friend-head-pic
{
    width: 9vmax;
    height: 9vmax;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.friend-name
{
    flex: 1;
    font-weight: 600;
    font-size: 1.4em;
    padding-left: 15px;
}

#friend-list-title
{
    text-align: center;
    font-weight: bold;
    font-size: 1.45em;
    margin-bottom: 10px;
    color: #747474;
}

#friend-list-wall
{
    background-color: #353333;
    position: absolute;
    z-index: 3;
    bottom: -10vmax;
    width: 100%;
    height: 0;
    border-radius: 50px;
    transition: height 1s;
}

#cancel-friend-list
{
    color: white;
    font-size: 1.5em;
    margin: 20px 0 0 20px;
}

#friend-list-input
{
    border-radius: 50px;
    padding-left: 10px;
    width: 75vw;
    height: 4.5vh;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
}

.autocomplete-suggestions
{
    margin-top: 10px;
    padding: 8px;
    border-radius: 15px;
    font-size: 1.1em;
    font-weight: 400;
}

#friend-list-layout
{
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translateX(-50%);
    overflow-y: scroll;
    width: 90%;
    height: 65%;
}

.fri-li-div
{
    padding: 5px;
    height: 10vmax;
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
}

.fri-li-head-pic
{
    width: 8vmax;
    height: 8vmax;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.fri-li-name
{
    flex: 1;
    color: white;
    font-size: 1.5em;
    margin-left: 9px;
}