#sigin-in-background
{
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(17 17 17);
    text-align: center;
}

.info-group i
{
    color: #eeeeee;
    margin: 3vw; 
}

.info-group input
{
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
    width: 0;
    transition: width 1s;
    text-align: center;
}

/*-webkit- 表示chrome等瀏覽器的開頭*/
.info-group input:-webkit-autofill,
.info-group input:-webkit-autofill:hover,
.info-group input:-webkit-autofill:focus,
.info-group input:-webkit-autofill:active
{
    transition: background-color 5000s ease-in-out 0s; 
    /* box-shadow: 0 0 0 1000px rgb(30 30 30) inset; */
    -webkit-text-fill-color: #fff !important;
}

.info-group
{
    display: inline-block;
    margin-right: 6vw;
    margin-bottom: 2vh;
}

.icon-div
{
    display: inline-block;
    transform: scale(0);
    transition: transform 1.5s;
}

.icon-div i
{
    position: relative;
    left: 50%;
    transform: translateX(-80%);
}

#sign-in-card
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30 30 30);
    padding: 2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.log-btn{
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    border-radius: 21px;
    margin-top: 3vh;
    width: 90%;
}

#login-btn
{
    color: white;
    background-color: #4caf50;
}

#register-btn{
    color: black;
    background-color: #bdbdbd;
}

.other-login-group
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 90%;
    margin-top: 2vh;
}

.other-login-btn i
{
    font-size: 1.4em;
    margin-right: 0.5em;
}

.other-login-btn
{
    display: inline-flex;
    color: white;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    width: 50%;
    margin: 0 2vw 0 2vw;
}

#facebook-login
{
    background-color: #3b5998;
    padding: 0.6em;
    border-radius: 22px;
    align-items: center;
    color: #eeeeee;
}

#google-login
{
    padding: 0.6em;
    border-radius: 22px;
    align-items: center;
    background-color: white;
    color: #495057 !important;
}

#mid-span
{
    color: white; 
    margin-top: 1vh;
}

.log-tag
{
    transform: scale(0);
    transition: 1s;
}

.invalid-border
{
    border-color: red !important;
}

.invalid-label
{
    display: none;
    color: red;
    float: right;
    font-size: 0.8em;
}

.eye
{
    display: inline-block;
    position: absolute;
    right: 15%;
    text-align: center;
}

#InputBirth
{
    /*iphone顯示不出來*/
    width: 100%;
    height: 4.5vh;
}

#logining
{
    display: none;
    height: 100%;
    z-index: 1051; /*bootsrap modal z-index 1050*/
    width: 100%;
    position: absolute;
    background: hsl(0deg 0% 0% / 52%);
}

.loader-login
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}