html,body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: "微軟正黑體";
    overflow-y: hidden;
    overflow-x: hidden;
}

input
{
    border-style: none;
    outline: none;
}

#container
{
    z-index: -1;
    background: linear-gradient(
        to left bottom,
        rgb(197 184 154),
        rgb(117 106 78)
    );
    width: 100%;
    height: 100%;
}

#navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    bottom: 0px;
    background: white;
    border-radius: 2rem 2rem 0 0;
    height: 11%;
    width: 100%;
}

.icon-layout
{
    z-index: 2;
    flex: 1;
    text-align: center;
}

.nav-icon
{    
    transition: all .5s;
    display: inline-block;
    font-size: 2rem;
    width: 2.4em;
    height: 2.4em;
    color: #7e7e7e;
}

.active-nav-icon
{
    transition: all .5s;
    border-radius: 50px;
    background-color: #e62960;
    color: white;
    border-radius: 40px;
    margin-bottom: 8.5vh;
}

#active-ball
{
    display: none;
    transition: all .5s;
    z-index: 0;
    position: absolute;
    border-radius: 4px 4px 50px 50px;
    background-color: #867b5e;
    width: 5.5em;
    height: 3.5em;
    bottom: 47%;
    top: 0;
    left: 4.93%;
}

#waiting
{
    display: none;
    height: 100%;
    z-index: 1051; /*bootsrap modal z-index 1050*/
    width: 100%;
    position: absolute;
    background: hsl(0deg 0% 0% / 52%);
}

.loader-wait
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}