body
{
    margin: 0;
    padding: 0;
}

video
{
    width: 100%;
    height: 50vmax;
    object-fit: cover;
    transform: rotateY(180deg);
}

#myvideo
{
    position: absolute;
    top:0;
    background-color: white;
}

#remotevideo
{
    position: absolute;
    bottom: 0;
    background-color: black;
}

#hangup
{
    display: inline-flex;
    position: absolute;
    height: 10vmax;
    width: 10vmax;
    background-color: red;
    color: white;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    font-size: 5vmax;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

#hangup i
{
    transform: rotateZ(226deg);
}

#callingMask
{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #1a1a1a;
    opacity: 0.7;
}

#group-head-text
{
    margin-top: 25%;
}

#text
{
    display: inline-block;
    color: white;
    font-size: 3vmax;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
}

#head
{
    width: 13vmax;
    height: 13vmax;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}